<h1>メモ新規作成フォーム</h1>

<%= form_with model:@memo,local:true do |f| %>
  <% @memo.errors.full_messages.each do |message| %>
    <h3><%= message %></h3>
    <% end %>
  <%= label_tag "memo-title", "メモのタイトルを入力してください:" %>
  <%= f.text_field :title, id:"memo-title" %>
<br><br>
  <%= label_tag "memo-content", "メモの本文を入力してください:" %>
  <%= f.text_area :content , id:"memo-content" %>
<br><br>
  <%= label_tag "memo-category_id", "カテゴリーを入力してください:" %>
  <%= f.text_field :category_id , id:"memo-category_id" %>
  <%= f.submit "送信" %>
<% end %>
